/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

main {
  padding: 40px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
  margin-bottom: 40px;
}
/* .foer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
} */

/* grid der tilpasser sig bredden dog uden alignment */
/* .under {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
} */

.efter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

/* H1 inde i cards placeres til venstre */
div h1,
div h2,
div p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: rgba(184, 135, 11, 0.65) 2px solid;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 0;
}
