/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Site layout */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100svh;
  background-color: rgb(226, 227, 227);
}
header,
footer {
  background-color: aliceblue;
  padding: 1rem;
}
main {
  margin: 0 auto;
  width: 600px;
  background-color: white;
  padding: 1rem;
}

/* Gallery Layout */
.galleri {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.galleri img {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.undergalleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.undergalleri :nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.undergalleri :nth-child(2) {
  grid-column: 2/4;
}
.undergalleri :nth-child(3) {
  grid-column: 2/3;
}
.undergalleri :nth-child(4) {
  grid-column: 3/4;
}
